DATABASE_URL="postgresql://guithuong:localdev@localhost:5432/guithuong?schema=public"
APP_URL="http://localhost:3000"
PAYMENT_PROVIDER="mock"
ALLOW_MOCK_PAYMENTS="true"
BYPASS_PAYMENT="false"
CRON_SECRET="replace-with-a-random-secret-at-least-32-characters"
ZALO_URL=""
FACEBOOK_URL=""
